<% layout("/layouts/boilerplate") %>

<body>

    <div class="row">
        <div class="col-8 offset-2">
            <h3 class="mb-3">Create a new listing</h3>
            <form action="/listings" method="post">

                <div class="mb-3">
                    <label for="title" class="form-label">Title: </label>
                    <input type="text" class="form-control" name="listing[title]" placeholder="enter title">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description: </label>
                    <textarea type="text" class="form-control" name="listing[description]" placeholder="enter description"></textarea>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image: </label>
                    <input type="text" class="form-control" name="listing[image]" placeholder="enter image URL">
                </div>

                <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price: </label>
                            <input type="number" class="form-control" name="listing[price]" placeholder="enter price">
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country: </label>
                            <input type="text" class="form-control" name="listing[country]" placeholder="enter country">
                    </div>
                </div>
 
                <div class="mb-4">
                    <label for="location" class="form-label">Location: </label>
                    <input type="text" class="form-control" name="listing[location]" placeholder="enter location">
                </div>

                <div class="mb-3"> 
                    <button class="btn add-btn btn-dark">submit</button>
                </div>

            </form>
        </div>
    </div>
    
</body>
</html>