<% layout("/layouts/boilerplate") %>

<body>

    <div class="row">
        <div class="col-8 offset-2">
            <h3 class="mb-3">Create a new listing</h3>
            <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label">Title: </label>
                    <input type="text" class="form-control" name="listing[title]" placeholder="enter title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Title required!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description: </label>
                    <textarea type="text" class="form-control" name="listing[description]" placeholder="enter description" required></textarea>
                    <div class="invalid-feedback">
                        Describe your property!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload image: </label>
                    <input type="file" class="form-control" name="listing[image]" >
                </div>

                <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price: </label>
                            <input type="text" class="form-control" name="listing[price]" placeholder="enter price" required>
                            <div class="invalid-feedback">
                                Enter a valid price!
                            </div>
                        </div>
                        
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country: </label>
                            <input type="text" class="form-control" name="listing[country]" placeholder="enter country" required>
                            <div class="invalid-feedback">
                                Enter country!
                            </div>
                    </div>
                </div>
 
                <div class="mb-4">
                    <label for="location" class="form-label">Location: </label>
                    <input type="text" class="form-control" name="listing[location]" placeholder="enter location" required>
                    <div class="invalid-feedback">
                        Enter location of the property!
                    </div>
                </div>

                <div class="mb-3"> 
                    <button class="btn add-btn btn-dark">submit</button>
                </div>

            </form>
        </div>
    </div>
    
</body>
</html>